.upper{
    background: url("../../images/bg.jpg");
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects {

}

.project1 {
    
}

.project2 {
   
}